* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.courses {
    width: 85%;
    display: grid;
    gap: 2rem;
    margin: 50px auto;
}
.course {
    background-color: rgb(137, 133, 133);
    border-radius: 12px;
    padding: auto;
}

@media (min-width: 567px) {
    .courses {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (min-width: 786px) {
    .courses {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 1024px) {
    .courses {
        grid-template-columns: repeat(4, 1fr);
    }
}

